[Desktop Entry]
Name=Example
Name[ca]=Exemple
Name[ca@valencia]=Exemple
Name[de]=Beispiel
Name[en_GB]=Example
Name[fi]=Esimerkki
Name[gl]=Exemplo
Name[nb]=Eksempel
Name[nl]=Voorbeeld
Name[pl]=Przykład
Name[pt]=Exemplo
Name[pt_BR]=Exemplo
Name[sk]=Príklad
Name[sv]=Exempel
Name[uk]=Приклад
Name[x-test]=xxExamplexx
Name[zh_CN]=示例
Description=Example theme for header.
Description[ca]=Tema d'exemple per a la capçalera.
Description[ca@valencia]=Tema d'exemple per a la capçalera.
Description[de]=Beispieldesign für den Vorspann.
Description[en_GB]=Example theme for header.
Description[fi]=Esimerkkiotsaketeema.
Description[gl]=Tema de exemplo para a cabeceira.
Description[nb]=Eksempel tema for hodelinje.
Description[nl]=Voorbeeld van thema voor kop.
Description[pl]=Przykładowy motyw nagłówka.
Description[pt]=Tema de exemplo de cabeçalhos.
Description[pt_BR]=Exemplo de tema para o cabeçalho.
Description[sk]=Ukážková téma pre hlavičku.
Description[sv]=Exempeltema för huvud.
Description[uk]=Приклад теми для заголовка.
Description[x-test]=xxExample theme for header.xx
Description[zh_CN]=示例信头主题。
FileName=header.html
