{% if not block.isPrinting %}
{% if not block.htmlMail or not block.loadExternal and block.containsExternalReferences %}
    <div class="htmlWarn">
        {% if not block.htmlMail %}
            {% i18nc_var "@info" "<emphasis strong='true'>Note:</emphasis> This is an HTML message. For security reasons, only the raw HTML code is shown. If you trust the sender of this message then you can activate formatted HTML display for this message <link url='kmail:showHTML'>by clicking here</link>." as msg %}
        {% elif not block.loadExternal and block.containsExternalReferences %}
            {% i18nc_var "@info" "<emphasis strong='true'>Note:</emphasis> This HTML message may contain external references to images etc. For security/privacy reasons external references are not loaded. If you trust the sender of this message then you can load the external references for this message <link url='kmail:loadExternal'>by clicking here</link>." as msg %}
        {% endif %}
        {{ msg|safe }}
    </div>
    <br />
    <br />
{% endif %}
{% endif %}

{% if not block.htmlMail %}
    {{ plaintext|safe }}
{% else %}
    <div style="position: relative">
        {{ content|safe }}
    </div>
{% endif %}
