{% if not block.htmlMail or not block.loadExternal and block.containsExternalReferences and not block.isPrinting %}
    <div class="htmlWarn">
        {% if not block.htmlMail %}
            {% i18n_var "<b>Note:</b> This is an HTML message. For security reasons, only the raw HTML code is shown. If you trust the sender of this message then you can activate formatted HTML display for this message <a href='kmail:showHTML'>by clicking here</a>." as msg %}
        {% elif not block.loadExternal and block.containsExternalReferences %}
            {% i18n_var "<b>Note:</b> This HTML message may contain external references to images etc. For security/privacy reasons external references are not loaded. If you trust the sender of this message then you can load the external references for this message <a href='kmail:loadExternal'>by clicking here</a>." as msg %}
        {% endif %}
        {{ msg|safe }}
    </div>
    <br />
    <br />
{% endif %}

{% if not block.htmlMail %}
    {{ plaintext|safe }}
{% else %}
    <div style="position: relative">
        {{ content|safe }}
    </div>
{% endif %}
