<table cellspacing="1" cellpadding="1" class="{{block.signClass}}">
    <tr class="{{block.signClass}}H">
        <td dir="{{global.dir}}">
        {% if block.inProgress %}
            {% i18n "Please wait while the signature is being verified..." %}
        {% else %}
            {% autoescape off %}
                {{ block.statusStr }}
            {% endautoescape %}
        {% endif %}
        </td>
    </tr>
    <tr class="{{block.signClass}}B">
        <td>{% callback content %}</td>
    </tr>
    <tr class="{{block.signClass}}H">
        <td dir="{{global.dir}}">{% i18n "End of signed message" %}</td>
    </tr>
</table>
