<div>nameOnly: {{ header.bcc.nameOnly|safe }}</div>
<div>isSet: {{ header.bcc.isSet|safe }}</div>
<div>fullAddress: {{ header.bcc.fullAddress|safe }}</div>
<div>str: {{ header.bcc.str }}</div>
<div>expandable: {{ header.bcc.expandableBc|safe }}</div>
<div>expandableTO: {{ header.bcc.expandableBCC|safe }}</div>
<div>invalid: {{ header.bcc.invalid|safe }}</div>
