<div>nameOnly: {{ header.bccNameOnly|safe }}</div>
<div>isSet: {{ header.bcc.isSet|safe }}</div>
<div>fullAddress: {{ header.bcc|safe }}</div>
<div>str: {{ header.bccStr }}</div>
<div>expandable: {{ header.bccExpandable|safe }}</div>
<div>expandableTO: {{ header.bcc.expandableTO|safe }}</div>
<div>invalid: {{ header.bcc.invalid|safe }}</div>
