<div>nameOnly: {{ header.cc.nameOnly|safe }}</div>
<div>isSet: {{ header.cc.isSet|safe }}</div>
<div>fullAddress: {{ header.cc.fullAddress|safe }}</div>
<div>str: {{ header.cc.str }}</div>
<div>expandable: {{ header.cc.expandableCc|safe }}</div>
<div>expandableTO: {{ header.cc.expandableCC|safe }}</div>
<div>invalid: {{ header.cc.invalid|safe }}</div>
