str: {{ header.date.str|safe }}
short: {{ header.date.short|safe }}
long: {{ header.date.long|safe }}
fancylong: {{ header.date.fancylong|safe }}
fancyshort: {{ header.date.fancyshort|safe }}
localelong: {{ header.date.localelong|safe }}
invalid: {{ header.date.invalid|safe }}
