str: {{ header.date|safe }}
short: {{ header.dateshort|safe }}
long: {{ header.datelong|safe }}
fancylong: {{ header.datefancylong|safe }}
fancyshort: {{ header.datefancyshort|safe }}
localelong: {{ header.datelocalelong|safe }}
invalid: {{ header.date.invalid|safe }}
