<div>nameOnly: {{ header.fromNameOnly|safe }}</div>
<div>isSet: {{ header.from.isSet|safe }}</div>
<div>fullAddress: {{ header.from|safe }}</div>
<div>str: {{ header.fromStr }}</div>
<div>expandable: {{ header.fromExpandable|safe }}</div>
<div>expandableTO: {{ header.fromexpandableTO|safe }}</div>
<div>invalid: {{ header.from.invalid|safe }}</div>
