<div>nameOnly: {{ header.from.nameOnly|safe }}</div>
<div>isSet: {{ header.from.isSet|safe }}</div>
<div>fullAddress: {{ header.from.fullAddress|safe }}</div>
<div>str: {{ header.from.str }}</div>
<div>expandable: {{ header.from.expandableFrom|safe }}</div>
<div>expandableTO: {{ header.fromexpandableTO|safe }}</div>
<div>invalid: {{ header.from.invalid|safe }}</div>
