<div>nameOnly: {{ header.replyTo.nameOnly|safe }}</div>
<div>isSet: {{ header.replyTo.isSet|safe }}</div>
<div>fullAddress: {{ header.replyTo.fullAddress|safe }}</div>
<div>str: {{ header.replyTo.str }}</div>
<div>expandable: {{ header.replyTo.expandable|safe }}</div>
<div>expandableTO: {{ header.replyTo.expandableTO|safe }}</div>
<div>invalid: {{ header.replyTo.invalid|safe }}</div>
