<div>nameOnly: {{ header.replyTonameOnly|safe }}</div>
<div>isSet: {{ header.replyTo.isSet|safe }}</div>
<div>fullAddress: {{ header.replyTo|safe }}</div>
<div>str: {{ header.replyTostr }}</div>
<div>expandable: {{ header.replyToexpandable|safe }}</div>
<div>expandableTO: {{ header.replyToexpandableTO|safe }}</div>
<div>invalid: {{ header.replyTo.invalid|safe }}</div>
