<div>nameOnly: {{ header.replyToNameOnly|safe }}</div>
<div>isSet: {{ header.replyTo.isSet|safe }}</div>
<div>fullAddress: {{ header.replyTo|safe }}</div>
<div>str: {{ header.replyToStr }}</div>
<div>expandable: {{ header.replyToExpandable|safe }}</div>
<div>expandableTO: {{ header.replyToexpandableTO|safe }}</div>
<div>invalid: {{ header.replyTo.invalid|safe }}</div>
