<div>nameOnly: {{ header.resenttoNameOnly|safe }}</div>
<div>isSet: {{ header.resentto.isSet|safe }}</div>
<div>fullAddress: {{ header.resentto|safe }}</div>
<div>str: {{ header.resenttoStr }}</div>
<div>expandable: {{ header.resenttoExpandable|safe }}</div>
<div>expandableTO: {{ header.resenttoexpandableTO|safe }}</div>
<div>invalid: {{ header.resentto.invalid|safe }}</div>
