<div>nameOnly: {{ header.resentfromNameOnly|safe }}</div>
<div>isSet: {{ header.resentfrom.isSet|safe }}</div>
<div>fullAddress: {{ header.resentfrom|safe }}</div>
<div>str: {{ header.resentfromStr }}</div>
<div>expandable: {{ header.resentfromExpandable|safe }}</div>
<div>expandableTO: {{ header.resentfromexpandableTO|safe }}</div>
<div>invalid: {{ header.resentfrom.invalid|safe }}</div>
