<div>nameOnly: {{ header.resentTo.nameOnly|safe }}</div>
<div>isSet: {{ header.resentTo.isSet|safe }}</div>
<div>fullAddress: {{ header.resentTo.fullAddress|safe }}</div>
<div>str: {{ header.resentTo.str }}</div>
<div>expandable: {{ header.resentTo.expandableResentto|safe }}</div>
<div>expandableTO: {{ header.resentTo.expandableTO|safe }}</div>
<div>invalid: {{ header.resentTo.invalid|safe }}</div>
