<div>nameOnly: {{ header.resentfrom.nameOnly|safe }}</div>
<div>isSet: {{ header.resentfrom.isSet|safe }}</div>
<div>fullAddress: {{ header.resentfrom.fullAddress|safe }}</div>
<div>str: {{ header.resentfrom.str }}</div>
<div>expandable: {{ header.resentfrom.expandableResentFrom|safe }}</div>
<div>expandableTO: {{ header.resentfrom.expandableTO|safe }}</div>
<div>invalid: {{ header.resentfrom.invalid|safe }}</div>
