<div>nameOnly: {{ header.resentFrom.nameOnly|safe }}</div>
<div>isSet: {{ header.resentFrom.isSet|safe }}</div>
<div>fullAddress: {{ header.resentFrom.fullAddress|safe }}</div>
<div>str: {{ header.resentFrom.str }}</div>
<div>expandable: {{ header.resentFrom.expandableResentFrom|safe }}</div>
<div>expandableTO: {{ header.resentFrom.expandableTO|safe }}</div>
<div>invalid: {{ header.resentFrom.invalid|safe }}</div>
